<h1>NGX MAGIC MODAL</h1>

<hr>

<h3>NGX Magic Modal (example1)</h3>
<magic-modal [(visible)]="display">
    <button (click)="closeDisplay();" style="position: absolute; top: 10px; right: 10px;">X</button>
    Magic Modal One
</magic-modal>
<button (click)="changeDisplay();">magic modal 1</button>


<h3>NGX Magic Modal (example2)</h3>
<magic-modal [(visible)]="display2">
    <button (click)="closeDisplay2();" style="position: absolute; top: 10px; right: 10px;">X</button>
    Magic Modal Two
</magic-modal>
<button (click)="changeDisplay2();">magic modal 2</button>

<hr>
<br>
<br>
<br>
<a href="http://iamsubhojit.com/" target="_blank" style="background: url('https://dabuttonfactory.com/button.png?t=Written+by+Subhojit&f=Open+Sans-Bold&ts=24&tc=fff&tshs=1&tshc=444&hp=20&vp=15&c=4&bgt=unicolored&bgc=6aa84f&bs=1&bc=3b910f&shs=3&shc=444&sho=se') no-repeat; display: block; width: 280px; height: 59px;"></a>

