.magic-modal-base{
    max-width: 500px;
    width: 80%;
    padding: 40px 30px;
    background: #fff;
    border: 1px solid #0003;
    box-shadow: 5px 5px 5px #00000080;
    z-index: 999999;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
